@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <h1 class="fw-bold text-center mb-3 display-4" style="font-weight: 900;">FORGOT<br />PASSWORD?</h1>
    <p class="text-center mb-4" style="max-width: 500px; font-weight: 500;">
        Please enter the email address used to create your account, and<br />
        we'll send you a link to reset your password.
    </p>

    <form asp-action="ForgotPassword" asp-controller="User" method="post" class="w-100" style="max-width: 500px;">
        <div class="mb-4">
            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
            <input asp-for="Email" class="form-control fs-5 py-2" id="email" required />
            <span asp-validation-for="Email" class="text-danger small"></span>
        </div>

        <button type="submit" class="btn btn-dark w-100 py-2 fs-6">SUBMIT</button>
    </form>
</div>



<style>
    input.is-valid {
        border: 2px solid green !important;
    }

    input.is-invalid {
        border: 2px solid red !important;
    }
</style>
